/* Style the scrollbar itself (width, background) */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

/* Style the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #1f1e22; /* Light grey track */
}

/* Style the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Dark grey thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Change the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade on hover */
}

body{
  background-color: #242329;
  font-family: 'Courier New', Courier, monospace;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* This makes the container take the full height of the viewport */
}

.btn {
  display: inline-block;
  margin: 30px;
  margin-top: 0px;
  padding: 40px 100px;
  background-color: #242329;
  border-style: solid;
  border-color: azure;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1e1d24;
  border-color: rgb(181, 204, 204);
}

h1,h3{
  margin: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color:white;
}

p {
  color:white;
  text-align: center;
}

.container {
  padding: 2px;
  margin: 200px;
  background-color: #242329;
}